@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius saepe quo provident aut, impedit beatae ab, voluptatem consequuntur qui temporibus doloremque placeat esse in illum commodi culpa laudantium porro velit?</p>
</div>
